.profile-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
}

.profile-pic{
  border: 3px solid white;
  box-shadow: 1px 1px 5px #222;
  border-radius: 100px;
  height:200px;
  width:200px;
}

.profile-text{
  padding:2rem;
  text-align:center;
}

@media(min-width:750px){
  .profile-text{
    text-align:left;
  }

  .profile-container{
    justify-content: flex-start;
  }
}