.header {
  padding:10px;
  height:100px;
  background-color:#F0A202;
}
.header-header{
  display:flex;
  justify-content: center;
  font-family:lobster;
}

.header div{
  display:flex;
  justify-content: center;
}