/* Images */

.image-item{
  position: relative;
}
.image-item .pattern-name{
  display:block;
  position:absolute;
  width:100%;
  top: 240px; 
  left:0px; 
  text-align:center;
  background-color:black;
  color:white;
  opacity:0;
  transition: all 0.5s ease-in-out;

}
.image-item:hover .pattern-name{
    display:block;
    position:absolute;
    width:100%;
    top: 230px; 
    left:0px; 
    text-align:center;
    background-color:black;
    color:white;
    opacity:0.8;
    transition: all 0.5s ease-in-out;
}

.image{
  height:250px;
  border:5px solid white;
  box-shadow: 1px 1px 5px #222;
  margin:5px;
  transition: all .2s ease-in-out;
}

.image.no-animation{
  transition: none;
}

.insta-feed img{
  box-shadow: 1px 1px 5px #222;
  transition: all .2s ease-in-out;
}

.image:hover, .insta-feed img:hover{
  transform: scale(1.05);
}

.image.no-animation:hover, img.no-animation:hover{
  transform: none;
}
.image-gallery{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line around header */

.lined{
 color:#3E8292;
 border-bottom:1px solid #3E8292;
 border-top:1px solid #3E8292;
 padding:1rem 1rem 1rem 0;
 text-align:center;
}

/* icons */
.icon-item{
  height:50px;
  margin:5px;
  transition: all .2s ease-in-out;
}
.icon-item:hover, .insta-feed img:hover{
  transform: scale(1.05);
}

.icon-gallery{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.fancy-font{
  font-family: 'Courgette';
  font-size:1.7rem;
}

.footer {
  left: 0;
  bottom: 0;
  text-align: center;
}