.pattern-content div{
  background:white;
  border: 4px double #F0A202;
  margin: 5px;
  padding:5px;
  width:45%;
  flex: 1 0 auto;
}

.pattern-content{
  display:flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
}

.pattern-info{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pattern-info .text{
  background:white;
  border: 4px double #F0A202;
  margin: 5px;
  padding:5px;
  flex: 1 0 auto;
  width: 55%;

}

ul{
  padding-left:5px;
}

.purchase-buttons{
  display:flex;
  justify-content: center;
}

.short-details{
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.short-details p{
  flex: 1 0 auto;
  width:50%;
}

.short-details .full-width p{
  flex: 1 0 auto;
  width:100%;
}


@media(min-width:750px){
  .short-details p{
    width: 25%;
      }
    }
    .short-details .full-width p{
      width:100%;
    }

.description{
  padding:5px;
}